/*styling for all the content of the site*/
#contact1 {
	color: gray;
}
.container {
	flex: 1 0 auto;
}

#content1-contact {
	width: 960px;
	float: left;
	margin-top: 40px;
	margin-left: 450px;
	margin-right: 300px;
	border: 1.5px solid lightgray;
	background-color: #babebf;
	/* padding-right: 500px; */
}

#contact-input {
	font-size: 32px;
	color: #4aaaa5;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid gray;
	margin: 20px;
}

#formcreator {
	margin: 20px;
	/* padding-left: 200px;
    padding-right: 50px; */
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
