/* all styling for the main content of the site*/

.container {
	flex: 1 0 auto;
}

.project-images {
	background-color: black;
	border-radius: 20px;
}

.row {
	margin: 20px;
}

.image-name {
	/* background-color: white; */
	font-size: 16px;
	font-weight: bold;
}
