
/* all styling for the main content of the site*/

.content-portfolio {
    flex: 1 0 auto;
    /* position: relative; */

}

#content1-portfolio {
    width: 960px;
    height: 500px;
    float:left;
    margin-top:40px;
    margin-left: 450px;
    margin-right: 300px;
    border: 1.5px solid lightgray;
    background-color: #BABEBF;

}

#portfolio-list {
    font-size: 32px;
    color:#4aaaa5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    margin: 20px;
}


