html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../image/background-image2.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color:#BABEBF;
    margin: 0;
    padding-left: 300px;
    padding-right: 300px;
    border-bottom: 2px solid gray;

}

#name {
    background-color:#4aaaa5;
    font-weight: bold;
    color: white;
    font-size: 32px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    
}

#about {
    float: right;
    padding-right: 2px solid gray;
    color:gray;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;

}

#portfolio {
    float: right;
    padding-right: 2px solid gray;
    color:gray;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;

}

#contact {
    float: right;
    
    color:green;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;
}

#portfolio-list {
    /*clear: both;*/
    font-size: 32px;
    color:#4aaaa5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    /*padding-left: 0px;*/
    border-bottom: 2px solid gray;
    margin: 20px;
}


.content {
    flex: 1 0 auto;
}

#content1 {
    float:left;
    margin:40px;
    margin-left: 300px;
    margin-right: 300px;
    border: 1.5px solid lightgray;
    background-color: #BABEBF;

}

#roger-image {
    float: left;
    padding: 20px;
}

#paragraph1 {
    font-size: 20px;
    padding:20px;
    line-height: 2;
}

#paragraph2 {
    font-size: 20px;
    padding:20px;
    line-height: 2;
}


#footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #BABEBF;
    border-top: 8px solid #4aaaa5;
    color:#ffffff;
    padding:15px;
    
}

#footer-paragraph {
    font-size: 12px;
    padding-top: 25px;
}