html {
	height: 100%;
}

body {
	height: 100%;
	flex-direction: column;
	background-image: url("../image/background-image2.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* header styling */

.header {
	width: 100%;
	height: 100px;
	display: block;
	background-color: #babebf;
}

.inner-header {
	width: 1145px;
	height: 100%;
	display: block;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.my-name {
	height: 100%;
	display: table;
	float: left;
}

.my-name h1 {
	background-color: #4aaaa5;
	font-weight: 200;
	color: white;
	font-size: 32px;
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.navigation {
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: gray;
	font-size: 20px;
}

/*styling for the main content of the website*/

.container {
	background-color: #babebf;
	border: 1.5px solid lightgray;
	margin-top: 40px;
	margin-bottom: 40px;
}

#aboutme {
	font-size: 32px;
	color: #4aaaa5;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid gray;
	margin: 20px;
}

.content-index {
	flex: 1 0 auto;
}

#content1-index {
	width: 960px;
	overflow: auto;
	float: left;
	margin: 40px;
	margin-left: 450px;
	margin-right: 300px;
	border: 1.5px solid lightgray;
	background-color: #babebf;
}

#roger-image-index {
	float: left;
	padding: 20px;
}

#paragraph1 {
	font-size: 20px;
	padding: 20px;
	line-height: 2;
}

#paragraph2 {
	font-size: 20px;
	padding: 20px;
	line-height: 2;
}

#paragraph3 {
	font-size: 20px;
	padding: 20px;
	line-height: 2;
}

/*Footer styling for all the html files*/

#footer {
	flex-shrink: 0;
	text-align: center;
	background-color: #babebf;
	border-top: 8px solid #4aaaa5;
	color: #ffffff;
	padding: 15px;
}

#footer-paragraph {
	font-size: 12px;
	padding-top: 25px;
	text-align: center;
	margin: auto;
}

.navbar-brand {
}

.bg-light navbar-light {
	background-color: #babebf;
}
